<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="stringconexao" value="Provider=SQLNCLI11;Data Source=DESKTOP-7NVR58A;Integrated Security=SSPI;Initial Catalog=Tabela_De_Clientes"/> 
  </appSettings>
</configuration>